<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up form</title>
</head>
<body>
{% include "base/flashMassages.html" ignore missing %}
<h2>This is the first page of the sign up forms.</h2>
<p>Here the details about the new user and the company they want to trade under will be place.</p>
<p>A person should hav the opinion to select if they wish to be a sole trader and use their own name.</p>


<h1>Please Register</h1>
<form class="form-signin" role="form" method="post" action="">
  {{ form.csrf_token }}
  <p>

    {{ form.company_name(placeholder="Company Name") }}
    <span class="error">
      {% if form.username.errors %}
        {% for error in form.username.errors %}
          {{ error }}
        {% endfor %}
      {% endif %}
    </span>
  </p>
  <p>

    {{ form.username(placeholder="username") }}
    <span class="error">
      {% if form.username.errors %}
        {% for error in form.username.errors %}
          {{ error }}
        {% endfor %}
      {% endif %}
    </span>
  </p>
  <p>
  {{ form.email(placeholder="email") }}
    <span class="error">
      {% if form.email.errors %}
        {% for error in form.email.errors %}
          {{ error }}
        {% endfor %}
      {% endif %}
    </span>
  </p>
  <p>
  {{ form.password(placeholder="password") }}
    <span class="error">
      {% if form.password.errors %}
        {% for error in form.password.errors %}
          {{ error }}
        {% endfor %}
      {% endif %}
    </span>
  </p>
  <p>
  {{ form.confirm(placeholder="confirm") }}
    <span class="error">
      {% if form.confirm.errors %}
        {% for error in form.confirm.errors %}
          {{ error }}
        {% endfor %}
      {% endif %}
    </span>
  </p>
  <button type="submit">Register!</button>
</form>


</body>
</html>