{% from "macros/navMacros.html" import nav_link with context %}

<nav class="navbar navbar-inverse" role="navigation">
  <ul class="nav navbar-nav">
  {{ nav_link('publicHomePage', 'Home') }}
  {{ nav_link('CreateJobPage', 'Create Job') }}
  {{ nav_link('jobs_list', 'Job Listings') }}
  {{ nav_link('user_create', 'Add New User') }}


  {{ nav_link('publicHomePage', 'About') }}
  {{ nav_link('publicHomePage', 'Contact Us') }}

  {% if session['logged_in'] %}
  {{ nav_link('logout', 'Log out') }}
  {% endif %}
  </ul>
</nav>
