{% extends "base/base.html" %}
{% from "macros/formMacros.html" import form_field with context %}
{% block content %}
<h1>Client Company Homepage</h1>

<p>On this page you will find all the details about the client company. Some of this information would be the contact information, current jobs, the client contacts with their emails and of course a list of member from the user company that is working on the active jobs.</p>
<hr/><br/>
<h2>{{ client.name }}</h2>
<p>Default Email: {{ client.default_email }]</p>


















<form id="page" method="post" hidden></form>



{% endblock %}