{% extends "base/base.html" %}
{% from "macros/formMacros.html" import form_field with context %}
{% block content %}

<h1>Job Title: {{ job.title }}</h1>
<h1>This page is for {{ job.job_number }}</h1>
<p>{{ job.description }}</p>
<section>
<h2>Quoted times and values</h2>
    <p>Time: {{ job.quoted_time() }}</p>
    <p>Cost: &euro;{{ job.pCost }}</p>
    <hr>
    <h3>Values to Date:</h3>
    <p>Total Time: {{ job.total_time }}</p>
</section>

<form id="Job" method="post">

    <table>

    </table>
    {% if job.user_started_log(session['login_details']['person_ID']) %}
    <input type="submit" form="Job" name="timer" value="Stop">
    {% else %}
    <input type="submit" form="Job" name="timer" value="Start">
    {% endif %}
</form>

<br><hr>
<h3>User that have added to to this job is listed below</h3>
{% for entry in time_users %}

<p>ID : {{ entry[0] }} |
    <a href="{{ url_for('user_details', person_ID=entry[0]) }}"> {{ entry[1] }} </a>
    | {{ entry[2] }}</p>

{% endfor %}

<br>
<hr>
<h3>Assigned User</h3>
{% if member_list %}
{% for member in member_list %}
<p>{{ member.username }} : <input type="checkbox" form="Job" name="member{{member.id}}" value="{{ member.id }}"></p>
{% endfor %}
<input class="btn btn-danger" type="submit" form="Job" name="timer" value="Remove Members">
{% else %}
<p>No user have been assigned yet</p>
{% endif %}


<br>
<hr>
<h3>Members that can be Assigned</h3>
{% for user in user_list %}
<p>{{ user.username }} : <input type="checkbox" form="Job" name="user{{user.id}}" value="{{ user.id }}"></p>
{% endfor %}
<input class="btn btn-success" type="submit" form="Job" name="timer" value="Assign">
{% endblock %}