{% extends "base/base.html" %}
{% from "macros/formMacros.html" import form_field with context %}
{% block content %}

<h1>User Page For: {{ user.username }}</h1>


<br><hr>
<h3>Jobs that {{ user.username }} has been assigned too.</h3>
{% if user.assigned_jobs %}
{% for job in  assigned_jobs %}
<p>{{ job.job_number }} : {{ job.title }}
    <a href="{{ url_for('job_main_details', job_number=job.job_number)}}">View job</a> </p>
{% if job.user_started_log(session['login_details']['person_ID']) %}
    <input class="btn btn-danger" type="submit" form="Job" name="{{ job.job_number }}" value="Stop">
    {% else %}
    <input class="btn btn-success" type="submit" form="Job" name="{{ job.job_number }}" value="Start">
    {% endif %}
{% endfor %}
{% else %}
<p>No jobs have be assigned to data</p>
{% endif %}

<form id="Job" method="post"></form>
{% endblock %}
