<!DOCTYPE html>
{% from "macros/formMacros.html" import form_field with context %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>This page is for testing only</title>


    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/foundation.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

</head>
<body>
<h1>This page is for testing only</h1>

<form id="FormTest" method="post">

    <table>
    {% for field in form %}

        {{form_field(field)}}

    {% endfor %}

    </table>
    <input type="submit" name="Enter" value="Enter">
</form>


</body>
</html>